* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f8fafc;
  color: #334155;
}

a {
  text-decoration: none;
  color: inherit;
}